body{background-color:#CCDEC6;}

.jumbotron{text-align:left;
background-color: #90A66D;
color:#332623;
width:100%;
margin:auto;
padding:10px;
padding-left:50px;}

button{
text-align: center;
color:#332623;
size:24px;
width:15%;
height:15%;
margin:auto;
padding:10px;
}

.searchbutton {width:100px;}

.searchBar {width:400px;
margin-top:25px;}

.gif{margin:10px;
height:auto;
width:300px;
border-color:#332623;
border-width: 3px;
border-style:solid;}